<%= button_to "Показать 5 случайных фотографий", root_path, remote: true, class: "btn btn-primary btn-large" %>
<br />
<div id="show_images"><%= render 'show_images' %></div>
<br />
<%= link_to "История", history_of_photos_path %>


